<div id="wrapper">
  <div id="container">
    <div id="section-1">
    </div>
    <div id="section-2"></div>
  </div>
  <div id="todo-container">
    <mat-toolbar color="primary">
      <span>My Application</span>
    </mat-toolbar>
    <mat-card>
      <form action="">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Add todo here..." >
        </mat-form-field> <br>
        <button mat-raised-button type="submit" color="accent" >Submit</button>
      </form>
    </mat-card>

  
  
  </div>
</div>